<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">name</th>
      <th scope="col">email</th>
      <th scope="col">Address</th>
      <th scope="col">Update</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let u of users">
      <th scope="row">{{u.id}}</th>
      <td>{{u.name}}</td>
      <td>{{u.email}}</td>
      <td>{{u.Address}}</td>
     <td> <a routerLink="/updateuser/{{u.id}}" class="btn btn-outline-dark">Upadte Users</a></td>
     <td> <a routerLink="/users/{{u.id}}" class="btn btn-outline-dark">Details </a></td>
    </tr>
  </tbody>
</table>
