
img{
    width: 40%;

}
div{
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
    width: 600px;
    height: 400px;

}
h1{
    color: #fddde6;
    background-color: black;
    text-align: center;
}
form
{
    background-color:#fddde6;

}



button
{
    padding: 10px;
    width: 150px;
    margin: 10px;
}
table
{
  border-style: outset;
  border-color: #fddde6;
  width: 600px;
  height: 400px;
}


.label
{
  border-style: inset;
  border-width: 1px;
  border-top-color: black;
  border-left-color: black;
  border-right-color: white;
  border-bottom-color: white;
  width: 200px;
}
.text
{
    width: 200px;

}
.number
{
    width: 200px;

}.email
{
    width: 200px;

}



