<div style="text-align: center; margin: auto;">
<form>
  <div class="form-group" >
    <input #email style="width: 500px;margin: auto; margin: 10px;"  type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  </div>

  <div class="form-group" >
    <input #name  style="width: 500px;margin: 10px;" type="text" class="form-control"  placeholder="Enter name">
  </div>


  <div class="form-group" >
    <input #Address  style="width: 500px;margin: auto; margin: 10px;" type="text" class="form-control"  placeholder="Enter Address">
  </div>

  <input style="margin: 10px;"  type="button" class="btn btn-primary" (click)="ADD(name.value,email.value,Address.value)"  value="Submit"/>
  </form>
</div>
