
<table class="table table-striped" style="width:600px;text-align: center;margin: auto;">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Course</th>
        <th scope="col">grade</th>

      </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{student.ID}}</td>
            <td>{{student.name}}</td>
            <td>{{student.age}}</td>
            <td>{{student.Cources.course}}</td>
            <td>{{student.Cources.grade}}</td>
          </tr>
    </tbody>
  </table>