@page "/Details/{ID:int}"

<h3 style="color:red;">Trainee Name @CurTrainee.Name</h3>

<div class="card" style="width: 20rem;text-align:center;margin:auto;" >
  
  <div class="card-body">
        <h5 style="color:blue;"  class="card-title">Email :@CurTrainee.email</h5>
        <p style="color:green;" class="card-text">Track Name :@TrackName</p>
        <p style="color:red;" class="card-text">Mobile Number :@CurTrainee.MobileNo</p>
  </div>
</div>




@code {

}
